Repository Esri/arcgis-maps-sdk-kotlin-samples, pull requests merged in 2023-06, with the labels that each got.

#113 MaterialAlertDialogBuilder for samples
  analyze-network-with-subnetwork-trace/src/main/java/com/esri/arcgismaps/sample/analyzenetworkwithsubnetworktrace/MainActivity.kt
  authenticate-with-oauth/src/main/java/com/esri/arcgismaps/sample/authenticatewithoauth/MainActivity.kt
  create-planar-and-geodetic-buffers/src/main/java/com/esri/arcgismaps/sample/createplanarandgeodeticbuffers/MainActivity.kt
  display-dimensions/src/main/java/com/esri/arcgismaps/sample/displaydimensions/MainActivity.kt
  download-vector-tiles-to-local-cache/src/main/java/com/esri/arcgismaps/sample/downloadvectortilestolocalcache/MainActivity.kt
  edit-feature-attachments/src/main/java/com/esri/arcgismaps/sample/editfeatureattachments/AttachmentsBottomSheet.kt
  edit-feature-attachments/src/main/java/com/esri/arcgismaps/sample/editfeatureattachments/MainActivity.kt
  find-route-around-barriers/src/main/java/com/esri/arcgismaps/sample/findroutearoundbarriers/MainActivity.kt
  generate-geodatabase-replica-from-feature-service/src/main/java/com/esri/arcgismaps/sample/generategeodatabasereplicafromfeatureservice/MainActivity.kt
  generate-offline-map-using-android-jetpack-workmanager/src/main/java/com/esri/arcgismaps/sample/generateofflinemapusingandroidjetpackworkmanager/MainActivity.kt
  generate-offline-map-using-android-jetpack-workmanager/src/main/res/layout/activity_main.xml
  generate-offline-map-using-android-jetpack-workmanager/src/main/res/values/strings.xml
  generate-offline-map/src/main/java/com/esri/arcgismaps/sample/generateofflinemap/MainActivity.kt
  samples-lib/src/main/java/com/esri/arcgismaps/sample/sampleslib/DownloaderActivity.kt
  show-grid/src/main/java/com/esri/arcgismaps/sample/showgrid/MainActivity.kt
Labels: enhancement

#110 Composable job dialog component
  samples-lib/src/main/java/com/esri/arcgismaps/sample/sampleslib/components/JobLoadingDialog.kt
Labels: enhancement

#111 Update weather service used for WMS layer sample
  add-wms-layer/README.md
  add-wms-layer/src/main/java/com/esri/arcgismaps/sample/addwmslayer/MainActivity.kt
  add-wms-layer/src/main/res/values/strings.xml
Labels: Bug

#116 Show coordinates in multiple formats
  samples-lib/src/main/java/com/esri/arcgismaps/sample/sampleslib/components/JobLoadingDialog.kt
  samples-lib/src/main/java/com/esri/arcgismaps/sample/sampleslib/components/LoadingDialog.kt
  samples-lib/src/main/java/com/esri/arcgismaps/sample/sampleslib/components/MessageDialog.kt
  show-coordinates-in-multiple-formats/.gitignore
  show-coordinates-in-multiple-formats/README.md
  show-coordinates-in-multiple-formats/README.metadata.json
  show-coordinates-in-multiple-formats/build.gradle
  show-coordinates-in-multiple-formats/proguard-rules.pro
  show-coordinates-in-multiple-formats/show-coordinates-in-multiple-formats.png
  show-coordinates-in-multiple-formats/src/main/AndroidManifest.xml
  show-coordinates-in-multiple-formats/src/main/java/com/esri/arcgismaps/sample/showcoordinatesinmultipleformats/MainActivity.kt
  show-coordinates-in-multiple-formats/src/main/java/com/esri/arcgismaps/sample/showcoordinatesinmultipleformats/components/ComposeMapView.kt
  show-coordinates-in-multiple-formats/src/main/java/com/esri/arcgismaps/sample/showcoordinatesinmultipleformats/components/MapViewModel.kt
  show-coordinates-in-multiple-formats/src/main/java/com/esri/arcgismaps/sample/showcoordinatesinmultipleformats/screens/CoordinatesLayout.kt
  show-coordinates-in-multiple-formats/src/main/java/com/esri/arcgismaps/sample/showcoordinatesinmultipleformats/screens/MainScreen.kt
  show-coordinates-in-multiple-formats/src/main/res/drawable-v24/ic_launcher_foreground.xml
  show-coordinates-in-multiple-formats/src/main/res/drawable/ic_launcher_background.xml
  show-coordinates-in-multiple-formats/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  show-coordinates-in-multiple-formats/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  show-coordinates-in-multiple-formats/src/main/res/mipmap-hdpi/ic_launcher.png
  show-coordinates-in-multiple-formats/src/main/res/mipmap-hdpi/ic_launcher_round.png
  show-coordinates-in-multiple-formats/src/main/res/mipmap-mdpi/ic_launcher.png
  show-coordinates-in-multiple-formats/src/main/res/mipmap-mdpi/ic_launcher_round.png
  show-coordinates-in-multiple-formats/src/main/res/mipmap-xhdpi/ic_launcher.png
  show-coordinates-in-multiple-formats/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  show-coordinates-in-multiple-formats/src/main/res/mipmap-xxhdpi/ic_launcher.png
  show-coordinates-in-multiple-formats/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  show-coordinates-in-multiple-formats/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  show-coordinates-in-multiple-formats/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  show-coordinates-in-multiple-formats/src/main/res/values/strings.xml
  version.gradle
Labels: New sample

#121 Add scene layer with elevation
  add-scene-layer-with-elevation/.gitignore
  add-scene-layer-with-elevation/README.md
  add-scene-layer-with-elevation/README.metadata.json
  add-scene-layer-with-elevation/build.gradle
  add-scene-layer-with-elevation/proguard-rules.pro
  add-scene-layer-with-elevation/scene-layer.png
  add-scene-layer-with-elevation/src/main/AndroidManifest.xml
  add-scene-layer-with-elevation/src/main/java/com/esri/arcgismaps/sample/addscenelayerwithelevation/MainActivity.kt
  add-scene-layer-with-elevation/src/main/java/com/esri/arcgismaps/sample/addscenelayerwithelevation/components/ComposeSceneView.kt
  add-scene-layer-with-elevation/src/main/java/com/esri/arcgismaps/sample/addscenelayerwithelevation/components/SceneViewModel.kt
  add-scene-layer-with-elevation/src/main/java/com/esri/arcgismaps/sample/addscenelayerwithelevation/screens/MainScreen.kt
  add-scene-layer-with-elevation/src/main/res/drawable-v24/ic_launcher_foreground.xml
  add-scene-layer-with-elevation/src/main/res/drawable/ic_launcher_background.xml
  add-scene-layer-with-elevation/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  add-scene-layer-with-elevation/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  add-scene-layer-with-elevation/src/main/res/mipmap-hdpi/ic_launcher.png
  add-scene-layer-with-elevation/src/main/res/mipmap-hdpi/ic_launcher_round.png
  add-scene-layer-with-elevation/src/main/res/mipmap-mdpi/ic_launcher.png
  add-scene-layer-with-elevation/src/main/res/mipmap-mdpi/ic_launcher_round.png
  add-scene-layer-with-elevation/src/main/res/mipmap-xhdpi/ic_launcher.png
  add-scene-layer-with-elevation/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  add-scene-layer-with-elevation/src/main/res/mipmap-xxhdpi/ic_launcher.png
  add-scene-layer-with-elevation/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  add-scene-layer-with-elevation/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  add-scene-layer-with-elevation/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  add-scene-layer-with-elevation/src/main/res/values/strings.xml
Labels: New sample

#115 Query feature table
  query-feature-table/.gitignore
  query-feature-table/README.md
  query-feature-table/README.metadata.json
  query-feature-table/build.gradle
  query-feature-table/proguard-rules.pro
  query-feature-table/query-feature-table.png
  query-feature-table/src/main/AndroidManifest.xml
  query-feature-table/src/main/java/com/esri/arcgismaps/sample/queryfeaturetable/MainActivity.kt
  query-feature-table/src/main/java/com/esri/arcgismaps/sample/queryfeaturetable/components/ComposeMapView.kt
  query-feature-table/src/main/java/com/esri/arcgismaps/sample/queryfeaturetable/components/MapViewModel.kt
  query-feature-table/src/main/java/com/esri/arcgismaps/sample/queryfeaturetable/screens/MainScreen.kt
  query-feature-table/src/main/java/com/esri/arcgismaps/sample/queryfeaturetable/screens/SearchBar.kt
  query-feature-table/src/main/res/drawable-v24/ic_launcher_foreground.xml
  query-feature-table/src/main/res/drawable/ic_launcher_background.xml
  query-feature-table/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  query-feature-table/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  query-feature-table/src/main/res/mipmap-hdpi/ic_launcher.png
  query-feature-table/src/main/res/mipmap-hdpi/ic_launcher_round.png
  query-feature-table/src/main/res/mipmap-mdpi/ic_launcher.png
  query-feature-table/src/main/res/mipmap-mdpi/ic_launcher_round.png
  query-feature-table/src/main/res/mipmap-xhdpi/ic_launcher.png
  query-feature-table/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  query-feature-table/src/main/res/mipmap-xxhdpi/ic_launcher.png
  query-feature-table/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  query-feature-table/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  query-feature-table/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  query-feature-table/src/main/res/values/strings.xml
Labels: New sample

#120 Manage operational layers
  manage-operational-layers/.gitignore
  manage-operational-layers/README.md
  manage-operational-layers/README.metadata.json
  manage-operational-layers/build.gradle
  manage-operational-layers/manage-operational-layers.png
  manage-operational-layers/proguard-rules.pro
  manage-operational-layers/src/main/AndroidManifest.xml
  manage-operational-layers/src/main/java/com/esri/arcgismaps/sample/manageoperationallayers/MainActivity.kt
  manage-operational-layers/src/main/java/com/esri/arcgismaps/sample/manageoperationallayers/components/ComposeMapView.kt
  manage-operational-layers/src/main/java/com/esri/arcgismaps/sample/manageoperationallayers/components/MapViewModel.kt
  manage-operational-layers/src/main/java/com/esri/arcgismaps/sample/manageoperationallayers/screens/LayersList.kt
  manage-operational-layers/src/main/java/com/esri/arcgismaps/sample/manageoperationallayers/screens/MainScreen.kt
  manage-operational-layers/src/main/res/drawable-anydpi/hide.xml
  manage-operational-layers/src/main/res/drawable-anydpi/ic_show.xml
  manage-operational-layers/src/main/res/drawable-hdpi/hide.png
  manage-operational-layers/src/main/res/drawable-hdpi/ic_show.png
  manage-operational-layers/src/main/res/drawable-mdpi/hide.png
  manage-operational-layers/src/main/res/drawable-mdpi/ic_show.png
  manage-operational-layers/src/main/res/drawable-v24/ic_launcher_foreground.xml
  manage-operational-layers/src/main/res/drawable-xhdpi/hide.png
  manage-operational-layers/src/main/res/drawable-xhdpi/ic_show.png
  manage-operational-layers/src/main/res/drawable-xxhdpi/hide.png
  manage-operational-layers/src/main/res/drawable-xxhdpi/ic_show.png
  manage-operational-layers/src/main/res/drawable/ic_launcher_background.xml
  manage-operational-layers/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  manage-operational-layers/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  manage-operational-layers/src/main/res/mipmap-hdpi/ic_launcher.png
  manage-operational-layers/src/main/res/mipmap-hdpi/ic_launcher_round.png
  manage-operational-layers/src/main/res/mipmap-mdpi/ic_launcher.png
  manage-operational-layers/src/main/res/mipmap-mdpi/ic_launcher_round.png
  manage-operational-layers/src/main/res/mipmap-xhdpi/ic_launcher.png
  manage-operational-layers/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  manage-operational-layers/src/main/res/mipmap-xxhdpi/ic_launcher.png
  manage-operational-layers/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  manage-operational-layers/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  manage-operational-layers/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  manage-operational-layers/src/main/res/values/strings.xml
Labels: New sample

#122 Add determinate download progress indicator to samples-lib
  samples-lib/src/main/java/com/esri/arcgismaps/sample/sampleslib/DownloaderActivity.kt
  samples-lib/src/main/res/layout/activity_samples.xml
  samples-lib/src/main/res/layout/download_dialog.xml
Labels: enhancement

#117 Show magnifier sample
  set-viewpoint-rotation/src/main/java/com/esri/arcgismaps/sample/setviewpointrotation/MainActivity.kt
  show-magnifier/.gitignore
  show-magnifier/README.md
  show-magnifier/README.metadata.json
  show-magnifier/build.gradle
  show-magnifier/proguard-rules.pro
  show-magnifier/show-magnifier.png
  show-magnifier/src/main/AndroidManifest.xml
  show-magnifier/src/main/java/com/esri/arcgismaps/sample/showmagnifier/MainActivity.kt
  show-magnifier/src/main/java/com/esri/arcgismaps/sample/showmagnifier/components/ComposeMapView.kt
  show-magnifier/src/main/java/com/esri/arcgismaps/sample/showmagnifier/components/MapViewModel.kt
  show-magnifier/src/main/java/com/esri/arcgismaps/sample/showmagnifier/screens/MainScreen.kt
  show-magnifier/src/main/res/drawable-v24/ic_launcher_foreground.xml
  show-magnifier/src/main/res/drawable/ic_launcher_background.xml
  show-magnifier/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  show-magnifier/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  show-magnifier/src/main/res/mipmap-hdpi/ic_launcher.png
  show-magnifier/src/main/res/mipmap-hdpi/ic_launcher_round.png
  show-magnifier/src/main/res/mipmap-mdpi/ic_launcher.png
  show-magnifier/src/main/res/mipmap-mdpi/ic_launcher_round.png
  show-magnifier/src/main/res/mipmap-xhdpi/ic_launcher.png
  show-magnifier/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  show-magnifier/src/main/res/mipmap-xxhdpi/ic_launcher.png
  show-magnifier/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  show-magnifier/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  show-magnifier/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  show-magnifier/src/main/res/values/strings.xml
  version.gradle
Labels: New sample

#123 rename sample png
  add-scene-layer-with-elevation/README.md
  add-scene-layer-with-elevation/README.metadata.json
  add-scene-layer-with-elevation/add-scene-layer-with-elevation.png
Labels: Bug
